name: Generate Snake

on:
  schedule:        # corre todos los días a las 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:  # permite ejecutarlo manualmente
  push:               # también corre cuando haces push a main
    branches: ["main"]

permissions:
  contents: write     # necesario para publicar en la rama "output"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake SVGs
        uses: Platane/snk@v3
        with:
          github_user_name: ladelgadobe
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
